*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 980px;
  margin: 0 auto;
}

body, .App {
  min-height: 100vh;
  text-align: left;
  /* margin: 0; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Noto Sans", sans-serif;
  background-color: #0c0c0c;
  color: #fff;
}

.loading {
  color: white;
  text-align: center;
}

.error {
  color: rgb(255, 56, 56);
  text-align: center;
}